DANE implementation does not appear to be correct

The DANE implementation in this MTA does not appear to have the required downgrade resistance, largely defeating the purpose of implementing DANE in the first place.

* The DNS lookups for DANE TLSA records raise an error ONLY if the TLSA records are **bogus**, and not when the lookup SERVFAILs, times out or encounters various other errors.  The only non-error states should be:
    - Lookup success returning zero (NODATA) or more records, possibly DNSSEC validated or otherwise validated insecure)
    - Lookup success returning NXDOMAIN (possibly DNSSEC validated, or otherwise validated insecure)
* I see no code that verifies whether the MX host's A or AAAA RRset is signed, without which, there's no way to know whether it is safe to query for the TLSA records. For example:

```
; NOERROR qr rd ra ad
nist.gov. IN MX 0 nist-gov.mail.protection.outlook.com.

; SERVFAIL qr rd ra
_25._tcp.nist-gov.mail.protection.outlook.com. IN TLSA ?
```
That `SERVFAIL` from my local resolver is a result of longstanding broken nameservers at Microsoft:
```
; NOERROR qr rd ra
mail.protection.outlook.com. IN NS ns1-proddns.glbdns.o365filtering.com.
mail.protection.outlook.com. IN NS ns2-proddns.glbdns.o365filtering.com.

; <<>> DiG 9.18.48 <<>> +noall +norecur +noedns +cmd +comment +question -t TLSA _25._tcp.nist-gov.mail.protection.outlook.com @ns1-proddns.glbdns.o365filtering.com.
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOTIMP, id: 46768
;; flags: qr; QUERY: 1, ANSWER: 0, AUTHORITY: 0, ADDITIONAL: 0

;; QUESTION SECTION:
;_25._tcp.nist-gov.mail.protection.outlook.com. IN TLSA
```

This is explained in detail in section 2 of RFC7672, but none of the required logic is seen here.

Also, the implementation passes PKIX-TA(0) and PKIX-EE(1) TLSA records to OpenSSL, which it should not be doing for SMTP with DANE.  Only DANE-TA(2) and DANE-EE(3) are in scope for DANE SMTP (see RFC7672). Passing of the private code points is particularly  surprising here.

* If libunbound is used as an in-application validating resolver, how are the root zone trust-anchor keys managed?
* Are MX lookups done with DNSSEC validation enabled?  Or only TLSA records?
* When none of the published TLSA records are "usable", per RFC7672 the expected client behaviour is to continue with the connection, requiring STARTTLS, but not requiring authentication, rather than to avoid the MX host.

Thanks for your attention.  Can you share the configuration you used in your testing?
Today we require the embedded unbound resolver to perform DNSSEC validation and feed through to openssl, which means that parts of our processing are implicit.
I appreciate your feedback on helping us to tighten things up here!

I did not perform any testing. I read the code. I'm the author of RFC7672 and know what to look for. Essential elements of what it takes to implement DANE in SMTP are missing in this implementation.

Fixed by #545 